{reg: [
  {bits: 3, name: 'vlmul', attr: '[2:0]'},
  {bits: 3, name: 'vsew', attr: '[2:0]'},
  {bits: 1, name: 'vta'},
  {bits: 1, name: 'vma'},
  {bits: 23, name: 'reserved'},
  {bits: 1, name: 'vill'},
]}
